body {
    /* Set the opacity of the background color */
    background-color: rgba(255, 255, 255, 0.7); /* Set the background color with opacity */
    margin: 0; /* Remove default body margin */
    overflow: hidden; /* Prevent content from overflowing the body */
    
    /* Set minimum height to ensure the background covers the entire viewport */
    min-height: 100vh;
    font-family: cursive;

}

body::before {
    /* Create a pseudo-element for the background image */
    content: "";
    background: url('Capture.PNG') center center / cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place the pseudo-element behind the content */
    opacity: 0.7; /* Adjust the opacity of the background image */
}

.container
{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}
.container .box
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #7B0323;
    float: left;
    margin: 15px; 
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#F5DADF;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden; /* Add this line to ensure the image doesn't overflow */
}

.container .box:hover .icon
{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .icon .fa
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #7B0323;
}

.container .box:hover .icon .fa
{
    font-size: 40px;
}

.container .box .content
{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container .box:hover .content
{
    top: 100px;
    opacity: 1;
}

.container .box .content h3
{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.container .box .content p
{
    margin: 0;
    padding: 0;
    color: #fff;
}

.container .box .icon img
{
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and cover the container */
}

